<script src="https://cdn.plot.ly/plotly-2.9.0.min.js"></script>
<div class="container-fluid">
    <br>
    <div class="row mx-2  text-center justify-content-center">
        <div class="col-sm-2 m-2 border rounded">
            <div class="m-2">
                <h3 class="h3 mb-0">123456</h3> <!--{{ args["analytics"]["users_24h"] }}-->
                <h4 class="h6">Users joined (last 24h)</h4>
            </div>
        </div>
        <div class="col-sm-2 m-2 border rounded">
            <div class="m-2">
                <h3 class="h3 mb-0">123456</h3> <!--{{ args["analytics"]["users_total"] }}-->
                <h4 class="h6">Users joined (all time)</h4>
            </div>
        </div>
    </div>
    <div class="row mx-2  text-center justify-content-center">
        <div class="col-sm-2 m-2 border rounded">
            <div class="m-2">
                <h3 class="h3 mb-0">12.3%</h3> <!--{{ args["analytics"]["users_total"] }}-->
                <h4 class="h6">Failed captcha rate</h4>
            </div>
        </div>
        <div class="col-sm-2 m-2 border rounded">
            <div class="m-2">
                <h3 class="h3 mb-0">12.3%</h3> <!--{{ args["analytics"]["users_total"] }}-->
                <h4 class="h6">Failed captchas (last 24h)</h4>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
